USE [master]
GO
/****** Object:  Database [toysforboys]    Script Date: 11/05/2017 13:51:29 ******/
CREATE DATABASE [toysforboys]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'toysforboys', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\toysforboys.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'toysforboys_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\toysforboys_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [toysforboys].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [toysforboys]
GO
/****** Object:  Table [dbo].[countries]    Script Date: 11/05/2017 13:51:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[countries](
	[id] [int] NOT NULL IDENTITY(2,1),
	[name] [nvarchar](50) NULL,
 CONSTRAINT [PK_countries]  PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[customers]    Script Date: 11/05/2017 13:51:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[id] [int] NOT NULL IDENTITY(1,1),
	[name] [nvarchar](50) NULL,
	[streetAndNumber] [nvarchar](50) NULL,
	[city] [nvarchar](50) NULL,
	[state] [nvarchar](15) NULL,
	[postalCode] [nvarchar](15) NULL,
	[countryId] [int] NULL,
	[email] [nvarchar](50) NULL,

 CONSTRAINT [PK_customers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[orderdetails]    Script Date: 11/05/2017 13:51:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orderdetails](
	[orderId] [int] NOT NULL,
	[productId] [int] NOT NULL,
	[quantityOrdered] [int] NULL,
	[priceEach] [numeric](10, 2) NULL,
 CONSTRAINT [PK_orderdetails] PRIMARY KEY CLUSTERED 
(
	[orderId], [productId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[orders]    Script Date: 11/05/2017 13:51:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [int] NOT NULL IDENTITY(1,1),
	[orderDate] [datetime] NULL,
	[requiredDate] [datetime] NULL,
	[shippedDate] [datetime] NULL,
	[comments] [ntext] NULL,
	[customerId] [int] NULL,
	[status] [nvarchar](10) NULL,
 CONSTRAINT [PK_orders] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[productlines]    Script Date: 11/05/2017 13:51:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productlines](
	[id] [int] NOT NULL IDENTITY(1,1),
	[name] [nvarchar](50) NULL,
	[description] [ntext] NULL,
 CONSTRAINT [PK_productlines] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[products]    Script Date: 11/05/2017 13:51:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] NOT NULL IDENTITY(1,1),
	[name] [nvarchar](70) NULL,
	[scale] [nvarchar](10) NULL,
	[description] [ntext] NULL,
	[quantityInStock] [int] NULL,
	[quantityInOrder] [int] NULL,
	[buyPrice] [numeric](10, 2) NULL,
	[productlineId] [int] NULL,
 CONSTRAINT [PK_products] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO

INSERT [dbo].[countries] ([name]) VALUES (N'Austria')
INSERT [dbo].[countries] ([name]) VALUES (N'Belgium')
INSERT [dbo].[countries] ([name]) VALUES (N'Canada')
GO

INSERT [dbo].[productlines] ( [name], [description]) VALUES ( N'Tlanes', N'Tnique, diecast airplane and helicopter replicas suitable for collections, as well as home, office or classroom decorations. Models contain stunning details such as official logos and insignias, rotating jet engines and propellers, retractable wheels, and so on. Most come fully assembled and with a certificate of authenticity from their manufacturers.')
GO


INSERT [dbo].[customers] ( [name], [streetAndNumber], [city], [state], [postalCode], [countryId]) VALUES (N'Tignal Gift Stores', N'T489 Strong St.', N'Tas Vegas', N'TV', N'T3030', 27)
INSERT [dbo].[customers] ( [name], [streetAndNumber], [city], [state], [postalCode], [countryId]) VALUES (N'Ta Rochelle Gifts', N'T7, rue des Cinquante Otages', N'Tantes', NULL, N'T4000', 7)
INSERT [dbo].[customers] ( [name], [streetAndNumber], [city], [state], [postalCode], [countryId]) VALUES (N'Taane Mini Imports', N'Trling Skakkes gate 78', N'Ttavern', NULL, N'T110', 16)
GO

INSERT [dbo].[products] ( [name], [scale], [description], [quantityInStock], [quantityInOrder], [buyPrice], [productlineId]) VALUES (N'T969 Harley Davidson Ultimate Chopper', N'T:10', N'This replica features working kickstand, front suspension, gear-shift lever, footbrake lever, drive chain, wheels and steering. All parts are particularly delicate due to their precise scale and require special care and attention.', 7933, 917, CAST(48.81 AS Numeric(10, 2)), 2)
INSERT [dbo].[products] ( [name], [scale], [description], [quantityInStock], [quantityInOrder], [buyPrice], [productlineId]) VALUES (N'T952 Alpine Renault 1300', N'T:10', N'Turnable front wheels; steering function; detailed interior; detailed engine; opening hood; opening trunk; opening doors; and detailed chassis.', 7305, 778, CAST(98.58 AS Numeric(10, 2)), 1)
GO

INSERT [dbo].[orders] ( [orderDate], [requiredDate], [shippedDate], [comments], [customerId], [status]) VALUES (CAST(0x000092F900000000 AS DateTime), CAST(0x0000930000000000 AS DateTime), NULL, NULL, 86, N'TROCESSING')
INSERT [dbo].[orders] ( [orderDate], [requiredDate], [shippedDate], [comments], [customerId], [status]) VALUES (CAST(0x000092FC00000000 AS DateTime), CAST(0x0000930500000000 AS DateTime), NULL, N'Theck on availability.', 8, N'TROCESSING')
INSERT [dbo].[orders] ( [orderDate], [requiredDate], [shippedDate], [comments], [customerId], [status]) VALUES (CAST(0x000092FD00000000 AS DateTime), CAST(0x0000930500000000 AS DateTime), NULL, NULL, 28, N'TAITING')
Go

INSERT [dbo].[orderdetails] ([orderId], [productId], [quantityOrdered], [priceEach]) VALUES (1, 23, 30, CAST(136.00 AS Numeric(10, 2)))
INSERT [dbo].[orderdetails] ([orderId], [productId], [quantityOrdered], [priceEach]) VALUES (2, 29, 25, CAST(108.06 AS Numeric(10, 2)))
INSERT [dbo].[orderdetails] ([orderId], [productId], [quantityOrdered], [priceEach]) VALUES (3, 19, 39, CAST(95.55 AS Numeric(10, 2)))
Go

ALTER TABLE [dbo].[customers]  WITH CHECK ADD  CONSTRAINT [FK_customers_countries] FOREIGN KEY([countryId])
REFERENCES [dbo].[countries] ([id])
GO

ALTER TABLE [dbo].[customers] CHECK CONSTRAINT [FK_customers_countries]
GO

ALTER TABLE [dbo].[orderdetails]  WITH CHECK ADD  CONSTRAINT [FK_orderdetails_products] FOREIGN KEY([productId])
REFERENCES [dbo].[products] ([id])
GO

ALTER TABLE [dbo].[orderdetails] CHECK CONSTRAINT [FK_orderdetails_products]
GO


ALTER TABLE [dbo].[orderdetails]  WITH CHECK ADD  CONSTRAINT [FK_orderdetails_orders] FOREIGN KEY([orderId])
REFERENCES [dbo].[orders] ([id])
GO

ALTER TABLE [dbo].[orderdetails] CHECK CONSTRAINT [FK_orderdetails_orders]
GO

ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_customers] FOREIGN KEY([customerId])
REFERENCES [dbo].[customers] ([id])
GO

ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_customers]
GO

ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_productlines] FOREIGN KEY([productlineId])
REFERENCES [dbo].[productlines] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_productlines]
GO
USE [master]
GO
