USE [toysforboys]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllProducts]    Script Date: 15/05/2017 23:30:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Patrick Oeyen
-- Create date: 15/05/2017
-- Description:	Return all products from ToysForBoys database
-- =============================================
Create PROCEDURE [dbo].[SP_GetAllProducts] 

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT  [id]
      ,[name]
      ,[scale]
      ,[description]
      ,[quantityInStock]
      ,[quantityInOrder]
      ,[buyPrice]
      ,[productlineId]
    FROM [toysforboys].[dbo].[products]

END
