@model List<ToysForBoysMVC.Models.productline>
@{
    ViewBag.Title = "Home Page";
}

<ul class="nav nav-pills">
    @foreach (var product in Model)
    {
        var url = Url.Action("ProductDetails", "Home", new { id = product.id });
        
        
            <li class="active"> <a href="@url"> @product.name </a> </li> }
       
    }
</ul>